body {
    padding: 2% 0 2% 0;
    background-color: darkslategrey;
}

label,
input,
.btn,
.row {
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    border-radius: 2% 2% 2% 2%;
}

.container {
    border-radius: 2% 2% 2% 2%;
}

.container-top {
    padding: 50% 2% 2% 2%;
}

#application-name {
    position: fixed;
    top: 50%;
    left: 9.5%;
    color: white;
    background-color: black;
    z-index: 1;
}

.row {
    background-color: darkslategrey;
    opacity: .7;
    padding-bottom: 2em;
}

.row:hover {
    background: #021719;
    /* Old Browsers */
    background: -webkit-linear-gradient(right, #021719, #c7ffe2);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(right, #021719, #c7ffe2);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, #021719, #c7ffe2);
    /*Fx 3.6-15*/
    background: linear-gradient(to left, #021719, #c7ffe2);
    /*Standard*/
    opacity: .9;
    color: firebrick;
}

.container {
    background: #021719;
    /* Old Browsers */
    background: -webkit-linear-gradient(left, #021719, #c7ffe2);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(left, #021719, #c7ffe2);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, #021719, #c7ffe2);
    /*Fx 3.6-15*/
    background: linear-gradient(to right, #021719, #c7ffe2);
    /*Standard*/
    color: skyblue;
}

.color-bg {
    background: url("images/car.jpg") fixed no-repeat center;
}

.shadow {
    -webkit-box-shadow: 10px 11px 5px -1px indianred;
    -moz-box-shadow: 10px 11px 5px -1px indianred;
    box-shadow: 10px 11px 5px -1px indianred;
}

#myProgress {
    width: 88%;
    margin: 5%;
    display: none;
    margin-bottom: 5%;
}

#myBar {
    width: 1%;
    height: 5px;
    background-color: limegreen;
}

#dev {
    padding-top: 1em;
    font-size: 1em;
}

.ui-datepicker,
#myProgress {
    background-color: darkslategrey;
}

.ui-datepicker {
    font-size: 1.5em;
}

.ui-state-default {
    padding: .5em;
}

#job-opt,
#select-emp {
    background-color: black;
    color: ghostwhite;
}

#pay-per-header {
    font-size: 1em;
}

a:hover {
    color: ghostwhite;
}

.print-panel {
    background-color: darkslategrey;
    color: red;
}

button {
    padding-left: 2%;
}

.effects {
    -webkit-transition-property: background-color color;
    -webkit-transition-duration: 800ms;
    -webkit-transition-timing-function:
}

hr {
    background-color: magenta;
}
