body {
    padding: 2% 0 2% 0;
    background: url("images/bg.png");
}

a,
label,
input,
.btn,
.row {
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    border-radius: 2% 2% 2% 2%;
    background: transparent;
}

input {
    color: lawngreen;
}

#error {
    background-color: red;
    padding: 3%;
}

.container {
    border-radius: 2% 2% 2% 2%;
    background: transparent;
    color: white;
}

#dev,
.row:hover {
    border: 15px solid transparent;
    padding: 15px;
    border-image-source: url(images/border.png);
    border-image-repeat: stretch;
    border-image-slice: 30;
}

.ui-datepicker {
    background: darkslategrey;
}

.ui-datepicker {
    font-size: 1.5em;
}

.ui-state-default {
    padding: .5em;
}

#job-opt,
#select-emp {
    background-color: black;
    color: ghostwhite;
}

#pay-per-header {
    font-size: 1em;
}

a:hover {
    color: ghostwhite;
}

.print-panel {
    background: transparent;
    color: red;
}

button {
    padding-left: 2%;
}

.effects {
    -webkit-transition-property: background-color color;
    -webkit-transition-duration: 800ms;
    -webkit-transition-timing-function:
}

hr {
    background-color: magenta;
}
