<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8 /" content="Dans app">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Cache-control" content="description">
    <meta http-equiv="Set-Cookie" content="name, date">
    <meta name="description" content="Dan Weatherbee's Todo in Backbone">
    <meta name="web_author" content="Dan Weatherbee Web Developer">
    <meta name="keywords" content="web developement,front end developement,front end web developement,danweatherbee,dan weatherbee,portfolio,dan weatherbee developer,danweatherby,dan weatherby,dan weatherbee web developer,dan weatherbee programmer,backbone.js">
    <meta name="author" content="Dan Weatherbee">
    <meta name="copyright" content="Dan Weatherbee">
    <meta name="contact" content="dan@jedi-clan.us">
    <meta name="reply-to" content="dan@jedi-clan.us">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#db5945">
    <meta name="msapplication-square310x310logo" content="favicon.ico">
  <title>Dan Weatherbee's Health Tracker App</title>
  <link rel="stylesheet" href="assets/index.css">
</head>
<body>


  <script src="js/lib/jquery-3.1.1.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone-localstorage.min.js"></script>
<section class="content"></section>
<script type="text/template" id="artist-list-template">
<input id="search-input" placeholder="Search?"></input>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hometown</th>
      <th>Favorite Color</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(artistArray, function(artist) { %>
      <tr>
        <td><%= artist.get('name') %></td>
        <td><%= artist.get('hometown') %></td>
        <td><%= artist.get('favoriteColor') %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
</script>



<section class="content-food"></section>

<script type="text/template" id="food-list-template">
<input id="search-input" placeholder="Search?"></input>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(foods.models, function(item) { %>
      <tr>
        <td><%= item.get('name') %></td>
        <td><%= item.get('id') %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
</script>
<script>

// var Artist = Backbone.Model.extend({
//     defaults: {
//         name: 'New Artist',
//         birthday: 'January 1, 1970',
//         hometown: 'Los Angeles, CA',
//         favoriteColor: 'blue',
//     }
// });

// var biggie = new Artist({ id: 1, name: 'Notorious BIG', birthday: 'May 21, 1972', hometown: 'Brooklyn, NY', favoriteColor: 'green' });
// var mike = new Artist({ id: 2, name: 'Mike Jones', birthday: 'January 6, 1981', hometown: 'Houston, TX', favoriteColor: 'blue' });
// var taylor = new Artist({ id: 3, name: 'Taylor Swift', birthday: 'December 13, 1989', hometown: 'Reading, PA', favoriteColor: 'red' });


// var Artists = Backbone.Collection.extend({
//     model: Artist
// });

// var artistArray = [biggie, mike, taylor];

// var ArtistListView = Backbone.View.extend({
//     el: '.content',

//     initialize:function(){
//         this.render();
//     },
//     render: function () {

//         var template = _.template($('#artist-list-template').html());
//         this.$el.html(template);
//     }
// });
// var artistListView = new ArtistListView();





/*
ADDING AND SAVING NOTE MODELS
http://www.mattzeunert.com/2013/01/26/minimal-backbone-localstorage-example.html
Backbone collections have a fetch method that retrieves models from the server or, in this case, local storage.
Before calling save on the model we need to add it to the collection,
otherwise Backbone would attempt to use an Http request to store it on a server.

var myCalories = new NoteCollection();
myCalories.fetch();
var item1 = new Note();
myCalories.add(item1);
item1.save();

myCalories.models.forEach(function(model){
    console.log("Model in collection: " + model.get("content"));
});
*/




/*
Startup
So now we have two views: AppView and TodoView.
The former needs to be instantiated on page load so its code gets executed.
This can be accomplished through jQuery’s ready() utility,
which will execute a function when the DOM is loaded.
*/


var app = app || {};
var ENTER_KEY = 13;
var ESC_KEY = 27;
var KEY = "b9914a3ffda1ac8218e155c05cb52409";
var keyWord = "";
var APPID = "ffa2c4b5";
var API_STR_PREFIX = "https://api.nutritionix.com/v1_1/search/" + keyWord + "%20";
var API_STR_MID = "?fields=item_name%2Citem_id%2Cbrand_name" +
        "%2Cnf_calories%2Cnf_total_fat&appId=";
var API_STR_KEY = "&appKey=";
var API = API_STR_PREFIX +
        keyWord +
        API_STR_MID +
        APPID +
        API_STR_KEY +
        KEY;
var searchResults;
var totalHits;
var status;
var i;
var foodArray = [];
var foods;

$(function() {
    // Get food data from API so we have something to work with.
    $.getJSON(API, function(data, status) {
          searchResults = data.hits;
          totalHits = data.total_hits;
          status = status;
          i = 0;
          console.log("Create array searchResults to hold json data. L175 Step 2");
          searchResults.forEach(function (iterator) {

                  // console.log("searchResults for loop initialized. L178  Step 3(" + i + " items in array.)");
                  i++;
            });
          console.log("searchResults array has been created. data retrieval complete. L181 Step 4");


    });

  // Kick things off by creating the **App**.
  // new app.AppView();
  new app.ItemListView();


});


app.Item = Backbone.Model.extend({
    defaults: {
        id: 0
    },
    initialize: function () {
      console.log("app.Item model has been initialized. L199");
    }
});


app.Items = Backbone.Collection.extend({
    model: app.Item,
    localStorage: new Backbone.LocalStorage("database"),
    initialize: function () {
       console.log("localStorage is initialized. L208" + this.model);

    }
});

app.ItemListView = Backbone.View.extend({
    template: _.template($('#food-list-template').html(), {collection: app.Items.models}),

    el: '.content-food',

    initialize:function(){
        console.log("ItemListView has initialized. L219 Step 1");
        this.render();
    },
    render: function () {
        console.log("testing app.Item initialization...")

        var item1 = new app.Item({id: 1, name: "banana"});

        foods = new app.Items();

        foods.add(item1.save);


        this.$el.html(this.template);
        console.log("render has initialized. L237");
    }
});



</script>





</body>
</html>